.edges-controller {

    .ant-tag {
        margin: 5px;
    }

    .edges-controller_source-select {
        width: 80px;
    }

    .edges-controller_target-select {
        width: 80px;
    }

    .edges-controller_price {
        width: 50px;
    }
}