.edges-controller {
    padding-left: 10px;

    .ant-tag {
        margin: 5px;
    }

    .edges-controller_arrow {
        margin-top: 10px;
    }

    .edges-controller_source-select {
        width: 80px;
    }

    .edges-controller_target-select {
        width: 80px;
    }

    .edges-controller_price {
        width: 50px;
    }
}